$font-dark-1: #292929;
$font-dark-2: #1a1a1a;
$font-light-1: #b3b3b3;
$font-light-2: #a8a8a8;
$font-grey: #808080;
$font-red: #ff3451;
$color-display-1: #ced3ca;
$color-display-2: #f8f6f2;
$color-display-3: #f7f7f7;
