.footer {
    background-color: $color-display-3;

    &__content {
        padding-top: 8.5rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 5rem;
    }

    &__nav {
        flex: 1;
        
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-row-gap: 2rem;
        grid-column-gap: 16rem;
    }


    &__link:link,
    &__link:visited {
        font-size: 1.5rem;
        color: $font-dark-2;
    }


    &__link:hover {
        border-bottom: 1px solid #000;
    }


    &__social {
        align-self: flex-end;
        margin-left: -9rem;
        &-link {

            svg {
                width: 3rem;
                height: 3rem;
            }
            
        }
    }

    &__copy {
        display: flex;
    }

    &__wrap {
        display: grid;
        grid-template-rows: repeat(2, min-content);
    }

    &__logo {
        
        height: 50%;
    }

    &__text {
        font-size: 1.5rem;
        max-width: 24rem;
        margin-bottom: 2rem;
    }
}