.hero {
    height: 80vh;
    background-image: url('https://georgessich.github.io/ugmonk-template/img/hero.png');
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        padding-top: 70vh;
    }
}