.btn {
    background-color: $font-dark-2;
    color: #ffffff;
    padding: 0.5rem 1.3rem;
    cursor: pointer;
    transition: all .3s;


    &-lg {
        font-size: 2rem;
        padding: 1.8rem 6.1rem;
    }
    &:hover {
        transform: translateY(-3px);
    }
}

.hero__btn {
    padding-top: 1rem;
    color: #fff;
    font-size: 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}


.sale-btn, 
.shop__btn,
.gather-btn {
    color: $font-dark-2;
    border-bottom: 1px solid $font-dark-2;
    padding-top: 4rem;
    align-self: flex-start;
    font-size: 1.6rem;
}

.btn-wrapper {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
}