.btn {
    background-color: $font-dark-2;
    color: #ffffff;
    padding: 0.5rem 1.3rem;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        transform: translateY(-3px);
    }
}

.hero__btn {
    padding-top: 1rem;
    color: #fff;
    font-size: 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}